- #http://guides.rubyonrails.org/debugging_rails_applications.html
- if Rails.env.development?
  %hr
  .container
    .bs-docs-section
      .row
        .col-lg-12
          #debug
            %a{:href => "#", :onclick => "$('#debug .debug_info').hide();$('#params_debug_info').show();return false"}
              params
            |
            %a{:href => "#", :onclick => "$('#debug .debug_info').hide();$('#session_debug_info').show();return false"}
              session
            |
            %a{:href => "#", :onclick => "$('#debug .debug_info').hide();$('#env_debug_info').show();return false"}
              env
            |
            %a{:href => "#", :onclick => "$('#debug .debug_info').hide();$('#request_debug_info').show();return false"}
              request
            %fieldset#params_debug_info.debug_info{:style => "display: none"}
              %legend params
              /= debug(params)
              = debug(JSON.pretty_generate(params.to_h))
              
            %fieldset#session_debug_info.debug_info{:style => "display: none"}
              %legend session
              = debug(session.to_hash)
            %fieldset#env_debug_info.debug_info{:style => "display: none"}
              %legend env
              = debug(JSON.pretty_generate(request.env.to_h))
            %fieldset#request_debug_info.debug_info{:style => "display: none"}
              %legend request
              = debug(JSON.pretty_generate(request.env.to_hash))