/ Menu
.nav-container
  %ul.nav
    %li
      %a{:href => "/"} Portfolio
      %ul.dropdown
        %li
          %a{:href => "/pages/portfolio-3-col"} 3 Columns - Masonry
        %li
          %a{:href => "/pages/portfolio-no-spacing"} 3 Columns - No Spacing
        %li
          %a{:href => "/pages/portfolio-lightbox"} Lightbox Portfolio
        %li
          %a{:href => "/pages/portfolio-single"} Single Item #1
        %li
          %a{:href => "/pages/portfolio-single-2"} Single Item #2
    %li
      %a{:href => "#"} Pages
      %ul.dropdown
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/pages/about-us"} About Us
        %li
          %a{:href => "/pages/about-me"} About Me
        %li
          %a{:href => "/pages/services"} Services
        %li
          %a{:href => "/pages/error-404"} Error 404
        %li
          %a{:href => "/pages/contact"} Contact
    %li
      %a{:href => "#"} Blog
      %ul.dropdown
        %li
          %a{:href => "/pages/blog"} Blog - Classic
        %li
          %a{:href => "/pages/blog-images"} Blog - Thumbs
        %li
          %a{:href => "/pages/blog-post"} Post - Classic
        %li
          %a{:href => "/pages/blog-post-image"} Post - Hero
    %li
      %a{:href => "#"} Features
      %ul.dropdown
        %li
          %a{:href => "/pages/hero-fs"} Fullscreen Hero
        %li
          %a{:href => "/pages/hero-dark"} Dark Hero
        %li
          %a{:href => "/pages/boxed-layout"} Boxed Layout
        %li
          %a{:href => "/pages/tera-slider"}
            Tera Slider
            %span.label 3.1
        %li
          %a{:href => "/pages/tera-carousel"} Carousel
        %li
          %a{:href => "/pages/elements"} Elements
        %li
          %a{:href => "/pages/menu-classic"} Classic Menu
        %li
          %a{:href => "/pages/one-page"} One-page Website
    %li
      %a{:href => "#"} Shop
      %ul.dropdown
        %li
          %a{:href => "/pages/shop"} Shop overview
        %li
          %a{:href => "/pages/product"} Product page
        %li
          %a{:href => "/pages/cart"} Cart
  .copyright #{Time.now.year} All rights reserved.
  .exit
  %ul.social
    %li
      %a.fa.fa-twitter{:href => "#"}
    %li
      %a.fa.fa-dribbble{:href => "#"}
    %li
      %a.fa.fa-facebook{:href => "#"}
    %li
      %a.fa.fa-instagram{:href => "#"}
    %li
      %a.fa.fa-pinterest{:href => "#"}
