/ Menu
.nav-container
  %ul.nav
    %li
      %a{:href => "#"} Portfolio
      %ul.dropdown
        %li
          %a{:href => "pages/portfolio-3-col.html"} 3 Columns - Masonry
        %li
          %a{:href => "pages/portfolio-no-spacing.html"} 3 Columns - No Spacing
        %li
          %a{:href => "pages/portfolio-lightbox.html"} Lightbox Portfolio
        %li
          %a{:href => "pages/portfolio-single.html"} Single Item #1
        %li
          %a{:href => "pages/portfolio-single-2.html"} Single Item #2
    %li
      %a{:href => "#"} Pages
      %ul.dropdown
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "pages/about-us.html"} About Us
        %li
          %a{:href => "pages/about-me.html"} About Me
        %li
          %a{:href => "pages/services.html"} Services
        %li
          %a{:href => "pages/error-404.html"} Error 404
        %li
          %a{:href => "pages/contact.html"} Contact
    %li
      %a{:href => "#"} Blog
      %ul.dropdown
        %li
          %a{:href => "pages/blog.html"} Blog - Classic
        %li
          %a{:href => "pages/blog-images.html"} Blog - Thumbs
        %li
          %a{:href => "pages/blog-post.html"} Post - Classic
        %li
          %a{:href => "pages/blog-post-image.html"} Post - Hero
    %li
      %a{:href => "#"} Features
      %ul.dropdown
        %li
          %a{:href => "pages/hero-fs.html"} Fullscreen Hero
        %li
          %a{:href => "pages/hero-dark.html"} Dark Hero
        %li
          %a{:href => "pages/boxed-layout.html"} Boxed Layout
        %li
          %a{:href => "pages/tera-slider.html"}
            Tera Slider
            %span.label 3.1
        %li
          %a{:href => "pages/tera-carousel.html"} Carousel
        %li
          %a{:href => "pages/elements.html"} Elements
        %li
          %a{:href => "pages/menu-classic.html"} Classic Menu
        %li
          %a{:href => "pages/one-page.html"} One-page Website
    %li
      %a{:href => "#"} Shop
      %ul.dropdown
        %li
          %a{:href => "pages/shop.html"} Shop overview
        %li
          %a{:href => "pages/product.html"} Product page
        %li
          %a{:href => "pages/cart.html"} Cart
  .copyright 2016 All rights reserved.
  .exit
  %ul.social
    %li
      %a.fa.fa-twitter{:href => "#"}
    %li
      %a.fa.fa-dribbble{:href => "#"}
    %li
      %a.fa.fa-facebook{:href => "#"}
    %li
      %a.fa.fa-instagram{:href => "#"}
    %li
      %a.fa.fa-pinterest{:href => "#"}
