.container

  .bs-docs-section
    .row
      .col-lg-4
        .bs-component
          %h2 About Page
          %pre
            app/views/pages/about.html.haml
            
      .col-lg-4      
      .col-lg-4
      